body {
    background-color: rgb(38, 43, 48);
}


.btn{
    width: 100%;
}



.QQuestion{
     font-size: 30px;
     color: whitesmoke
}

.options{
     font-size: 25px;
     padding: 5px;
     padding-top: 20px;
}

.listBtn{
    color:whitesmoke;
    border: solid 2px whitesmoke;
    margin: 5px;
    padding: 5px;
    width: 80%;
}

.ingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next{
    height: 475px;
    border: solid 1px whitesmoke;
}

img{
    width:100%;
    height: 80%;

}

.options{
    color:whitesmoke;
    margin: 5px;  
}

.quizcontainer{
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1250px) {
    .next{
        height: 350px;
        border: solid 1px whitesmoke;
        padding-bottom:20px;
    }

}


@media only screen and (max-width: 850px) {
    .next{
        height: 300px;
        border: solid 1px whitesmoke;
        padding-bottom:20px;
    }

    .options{
        padding-bottom: 20px;
   }
}

@media only screen and (max-width: 600px) {
    .next{
        height: 200px;
        border: solid 1px whitesmoke;
        padding-bottom:20px;
    }

    .options{
        margin:0%;
        font-size: 20px;
        padding:3%;

   }

}
