* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* font-family: 'Lilita One', cursive; */
     /* font-family: 'Righteous', cursive; */
     /* font-family: 'Baloo Bhai', cursive; */
     /* font-family: 'Luckiest Guy', cursive; */
     /* font-family: 'Monoton', cursive; */
     /* font-family: 'Audiowide', cursive; */
     font-family: 'Rye', cursive;
     /* font-family: 'Aclonica', sans-serif; */
}

body {
     width: 100vw;
     height: 100vh;
     position: relative;
     background-color: rgb(38, 43, 48);
}

.black-trans-bkg{
     position: absolute;
     width: 100vw;
     height: 100vh;
     z-index: 10000;
     background-color: black;
     /* filter: blur(8px);
     -webkit-filter: blur(8px); */
     
     opacity: 0.6;  
     /* overflow: hidden; */
}

.checkAge-wrapper{

     width: 48vw;
     height: 27vw;
     background-image: linear-gradient(to right, aqua, deeppink);
     z-index: 10000000;
     border-radius: 10px;
}

.checkAge{
     width: 47vw;
     height: 26vw;
     padding: 10px;
     background: black;
     opacity: 0.9;
     border-radius: 5px;
     color: white;
     /* text-align: center; */
}

p.text{
     margin-top:5px;
}

.validateBtn-wrapper{
     margin-top: 5px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

button.validateBtn1{
     background-color: transparent;
     width: 45%;
     border: 2px solid aqua;
     padding: 1px;
     color: aqua;
     margin-bottom: 5px;
     font-size: 14px;
}

button.validateBtn2{
     background-color: transparent;
     width: 45%;
     border: 2px solid deeppink;
     padding: 1px;
     color: deeppink;
     margin-bottom: 5px;
     font-size: 18px;
}

.centered {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -40%);
}

.centered1 {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.border {
     /* background: rgb(38, 43, 48); */
     width: 980px;
     height: 480px;
     border-radius: 3.5px;
}

.content{
     width: 100vw;
     height: 100vh;
}

.logo {
     width: 100%;
     font-size: 150px;
     text-align: center;
     color: #ffffff;
     text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em aqua, 0 0 0.5em aqua, 0 0 0.1em aqua, 0 10px 3px #000;
}

.logo-brand {
     margin-left: 40px;
     color: #ffffff;
     text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em aqua, 0 0 0.5em aqua, 0 0 0.1em aqua, 0 10px 3px #000;
     cursor: pointer;
}

.text-base {
     font-size: 2em !important;
}

.button-wrapper {
     position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%, -70%);
     width: 50%;
     display: flex;
     justify-content: space-between;
}

button.homepgBtn {
     width: 45%;
     height: 80px;
     font-size: 35px;
     border-radius: 5px;
     background-color: transparent;
     color: white;
     border: none;
     /* border: 5px solid white; */
     text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em deeppink, 0 0 0.5em deeppink, 0 0 0.1em #ff009d, 0 10px 3px #000;
     /* box-shadow:  0 0 20px #ff009d; */
     transition: 1s;
}

button.homepgBtn:hover{
     text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff0088, 0 0 0.5em #ff0088, 0 0 0.1em #ff0088, 0 10px 3px #000;
}

button:focus {
     outline: none;
}

span:nth-of-type(2), span:nth-of-type(5) {
     color: #c0bfbf;
}

span:nth-of-type(2) {
     animation: blink infinite 2s;
}

span:nth-of-type(5) {
     animation: blink infinite 3s;
}

.hide{
     display: none;
}

@keyframes blink {
     78% {
          color: inherit;
          text-shadow: inherit;
     }
     79% {
          color: #333;
     }
     80% {
          text-shadow: none;
     }
     81% {
          color: inherit;
          text-shadow: inherit;
     }
     82% {
          color: #333;
          text-shadow: none;
     }
     83% {
          color: inherit;
          text-shadow: inherit;
     }
     92% {
          color: #333;
          text-shadow: none;
     }
     92.5% {
          color: inherit;
          text-shadow: inherit;
     }
}

@media only screen and (max-width: 1000px) {
     .checkAge-wrapper{

          width: 80vw;
          height: 45vw;
     }
     
     .checkAge{
          width: 79vw;
          height: 44vw;
     }
}

@media only screen and (max-width: 880px) {
     .logo {
          font-size: 100px;
     }
}

@media only screen and (max-width: 570px) {
     .logo {
          font-size: 60px;
     }
}

@media only screen and (max-width: 425px) {
     .checkAge-wrapper{

          width: 80vw;
          height: 60vw;
     }
     
     .checkAge{
          width: 79vw;
          height: 59vw;
          border-radius: 10px;
     }
}

@media only screen and (max-width: 360px) {
     .checkAge-wrapper{

          width: 80vw;
          height: 70vw;
     }
     
     .checkAge{
          width: 79vw;
          height: 69vw;
     }
}


@media only screen and (max-width: 330px) {
     .logo {
          font-size: 50px;
     }
}

.btn {
     width: 100%;
}

.likeIcon {
     color: rgb(110, 206, 110);
}

.dislikeIcon {
     color: rgb(231, 110, 110);
}

.loader {
     position: absolute;
     top: 8px;
     left: 1%;
     z-index: 999;
     border: 16px solid #f3f3f3;
     border-top: 16px solid #f53ce5;
     border-radius: 50%;
     width: 25px;
     height: 25px;
     animation: spin 2s linear infinite;
}

@keyframes spin {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
}

aside {
     overflow-y: scroll;
     left: -400px;
}

.in {
     left: 0px;
}