body {
    background-color: rgb(38, 43, 48);
}


.btn{
    width: 100%;
}



.QQuestion{
     font-size: 30px;
     color: whitesmoke
}

.options{
     font-size: 25px;
     padding: 5px;
}

.listBtn{
    color:whitesmoke;
    border: solid 2px whitesmoke;
    margin: 5px;
    padding: 5px;
    width: 80%;
}

.ingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next{
    height: 250px;
    border: solid 1px whitesmoke;
}

img{
    width:100%;
    height: 80%;

}

.options{
    color:whitesmoke;
    margin: 5px;  
}

